@using System.Drawing;
@using System.Drawing.Imaging;
@using System.Security.Cryptography;
@{
    Generator.TakeItEasy();

    string path = HttpContext.Current.Server.MapPath("~/Images/Gallery");

    string[] imgsPaths = Directory.GetFiles(path);



    List<string> imgs = new List<string>();
    List<string> imgsName = new List<string>();



    foreach (string item in imgsPaths)
    {
        string s = item.Split('\\').Last();
        string d = s.Split('.')[0];
        imgsName.Add(d);
        imgs.Add("/Images/Gallery/" + s);
    }

    Generator.Shuffle(imgs, imgsName);
    //Generator.Shuffle(imgsName);

    int i = 0;
    int z = imgs.Count / 7;


}

@{
    ViewBag.Title = "Gallery";
}

<script defer type="text/javascript" src="~/scripts/galleryScript.js"></script>

<div class="heroes">
    <h1>Галерея</h1>
    <div class="columnOfGallery">
        @for (; i < z; i++)
        {
            <a href="@Url.Action(imgsName[i], "Home/Image")">
                <img class="itemOfGallery" src=@imgs[i] id="img">
            </a>
        }
    </div>
    <div class="columnOfGallery">
            @for (; i < z * 2; i++)
            {
                <a href="@Url.Action(imgsName[i], "Home/Image")">
                    <img class="itemOfGallery" src=@imgs[i]>
                </a>
            }
        </div>
        <div class="columnOfGallery">
            @for (; i < z * 3; i++)
            {
                <a href="@Url.Action(imgsName[i], "Home/Image")">
                    <img class="itemOfGallery" src=@imgs[i]>
                </a>
            }
        </div>

        <div class="columnOfGallery">
            @for (; i < z * 4; i++)
            {
                <a href="@Url.Action(imgsName[i], "Home/Image")">
                    <img class="itemOfGallery" src=@imgs[i]>
                </a>
            }
        </div>

        <div class="columnOfGallery">
            @for (; i < z * 5; i++)
            {
                <a href="@Url.Action(imgsName[i], "Home/Image")">
                    <img class="itemOfGallery" src=@imgs[i]>
                </a>
            }
        </div>

        <div class="columnOfGallery">
            @for (; i < z * 6; i++)
            {
                <a href="@Url.Action(imgsName[i], "Home/Image")">
                    <img class="itemOfGallery" src=@imgs[i]>
                </a>
            }
        </div>

        <div class="columnOfGallery">
            @for (; i < z * 7; i++)
            {
                <a href="@Url.Action(imgsName[i], "Home/Image")">
                    <img class="itemOfGallery" src=@imgs[i]>
                </a>
            }
        </div>
</div>

@*<footer>
    <p id="footer">© 2018 Все права защищены</p>
</footer>*@

