
@{
    ViewBag.Title = "Heroes";
}
<script defer type="text/javascript" src="~/scripts/heroGifScript.js"></script>

<div class="heroes">
    <h1>Герои</h1>
    <div class="power">
        <img src="https://dota2.ru/img/icon-str.png">
        <span>Сила</span>
    </div>
    <div class="powerHeroes power">
        <a href="@Url.Action("abaddon", "Home/Hero")">
            <img onmouseover="func1('abaddon')" onmouseleave="func2('abaddon')" class="heroImg heroIcons" id="abaddon" src="https://dota2.ru/img/heroes/abaddon/m_icon.jpg">
        </a>
        <a href="@Url.Action("alchemist", "Home/Hero")">
            <img onmouseover="func1('alchemist')" onmouseleave="func2('alchemist')" class="heroImg heroIcons" id="alchemist" src="https://dota2.ru/img/heroes/alchemist/m_icon.jpg">
        </a>
        <a href="@Url.Action("axe", "Home/Hero")">
            <img onmouseover="func1('axe')" onmouseleave="func2('axe')" class="heroImg heroIcons" id="axe" src="https://dota2.ru/img/heroes/axe/m_icon.jpg">
        </a>
        <a href="@Url.Action("beastmaster", "Home/Hero")">
            <img onmouseover="func1('beastmaster')" onmouseleave="func2('beastmaster')" class="heroImg heroIcons" id="beastmaster" src="https://dota2.ru/img/heroes/beastmaster/m_icon.jpg">
        </a>
        <a href="@Url.Action("bristleback", "Home/Hero")">
            <img onmouseover="func1('bristleback')" onmouseleave="func2('bristleback')" class="heroImg heroIcons" id="bristleback" src="https://dota2.ru/img/heroes/bristleback/m_icon.jpg">
        </a>
        <a href="@Url.Action("centaur_warrunner", "Home/Hero")">
            <img onmouseover="func1('centaur_warrunner')" onmouseleave="func2('centaur_warrunner')" class="heroImg heroIcons" id="centaur_warrunner" src="https://dota2.ru/img/heroes/centaur_warrunner/m_icon.jpg">
        </a>
        <a href="@Url.Action("chaos_knight", "Home/Hero")">
            <img onmouseover="func1('chaos_knight')" onmouseleave="func2('chaos_knight')" class="heroImg heroIcons" id="chaos_knight" src="https://dota2.ru/img/heroes/chaos_knight/m_icon.jpg">
        </a>
        <a href="@Url.Action("clockwerk", "Home/Hero")">
            <img onmouseover="func1('clockwerk')" onmouseleave="func2('clockwerk')" class="heroImg heroIcons" id="clockwerk" src="https://dota2.ru/img/heroes/clockwerk/m_icon.jpg">
        </a>
        <a href="@Url.Action("doom", "Home/Hero")">
            <img onmouseover="func1('doom')" onmouseleave="func2('doom')" class="heroImg heroIcons" id="doom" src="https://dota2.ru/img/heroes/doom/m_icon.jpg">
        </a>
        <a href="@Url.Action("earth_spirit", "Home/Hero")">
            <img onmouseover="func1('earth_spirit')" onmouseleave="func2('earth_spirit')" class="heroImg heroIcons" id="earth_spirit" src="https://dota2.ru/img/heroes/earth_spirit/m_icon.jpg">
        </a>
        <a href="@Url.Action("earthshaker", "Home/Hero")">
            <img onmouseover="func1('earthshaker')" onmouseleave="func2('earthshaker')" class="heroImg heroIcons" id="earthshaker" src="https://dota2.ru/img/heroes/earthshaker/m_icon.jpg">
        </a>
        <a href="@Url.Action("elder_titan", "Home/Hero")">
            <img onmouseover="func1('elder_titan')" onmouseleave="func2('elder_titan')" class="heroImg heroIcons" id="elder_titan" src="https://dota2.ru/img/heroes/elder_titan/m_icon.jpg">
        </a>
        <a href="@Url.Action("huskar", "Home/Hero")">
            <img onmouseover="func1('huskar')" onmouseleave="func2('huskar')" class="heroImg heroIcons" id="huskar" src="https://dota2.ru/img/heroes/huskar/m_icon.jpg">
        </a>
        <a href="@Url.Action("io", "Home/Hero")">
            <img onmouseover="func1('io')" onmouseleave="func2('io')" class="heroImg heroIcons" id="io" src="https://dota2.ru/img/heroes/io/m_icon.jpg">
        </a>
        <a href="@Url.Action("kunkka", "Home/Hero")">
            <img onmouseover="func1('kunkka')" onmouseleave="func2('kunkka')" class="heroImg heroIcons" id="kunkka" src="https://dota2.ru/img/heroes/kunkka/m_icon.jpg">
        </a>
        <a href="@Url.Action("legion_commander", "Home/Hero")">
            <img onmouseover="func1('legion_commander')" onmouseleave="func2('legion_commander')" class="heroImg heroIcons" id="legion_commander" src="https://dota2.ru/img/heroes/legion_commander/m_icon.jpg">
        </a>
        <a href="@Url.Action("lifestealer", "Home/Hero")">
            <img onmouseover="func1('lifestealer')" onmouseleave="func2('lifestealer')" class="heroImg heroIcons" id="lifestealer" src="https://dota2.ru/img/heroes/lifestealer/m_icon.jpg">
        </a>
        <a href="@Url.Action("lycan", "Home/Hero")">
            <img onmouseover="func1('lycan')" onmouseleave="func2('lycan')" class="heroImg heroIcons" id="lycan" src="https://dota2.ru/img/heroes/lycan/m_icon.jpg">
        </a>
        <a href="@Url.Action("magnus", "Home/Hero")">
            <img onmouseover="func1('magnus')" onmouseleave="func2('magnus')" class="heroImg heroIcons" id="magnus" src="https://dota2.ru/img/heroes/magnus/m_icon.jpg">
        </a>
        <a href="@Url.Action("night_stalker", "Home/Hero")">
            <img onmouseover="func1('night_stalker')" onmouseleave="func2('night_stalker')" class="heroImg heroIcons" id="night_stalker" src="https://dota2.ru/img/heroes/night_stalker/m_icon.jpg">
        </a>
        <a href="@Url.Action("omniknight", "Home/Hero")">
            <img onmouseover="func1('omniknight')" onmouseleave="func2('omniknight')" class="heroImg heroIcons" id="omniknight" src="https://dota2.ru/img/heroes/omniknight/m_icon.jpg">
        </a>
        <a href="@Url.Action("phoenix", "Home/Hero")">
            <img onmouseover="func1('phoenix')" onmouseleave="func2('phoenix')" class="heroImg heroIcons" id="phoenix" src="https://dota2.ru/img/heroes/phoenix/m_icon.jpg">
        </a>
        <a href="@Url.Action("pudge", "Home/Hero")">
            <img onmouseover="func1('pudge')" onmouseleave="func2('pudge')" class="heroImg heroIcons" id="pudge" src="https://dota2.ru/img/heroes/pudge/m_icon.jpg">
        </a>
        <a href="@Url.Action("sand_king", "Home/Hero")">
            <img onmouseover="func1('sand_king')" onmouseleave="func2('sand_king')" class="heroImg heroIcons" id="sand_king" src="https://dota2.ru/img/heroes/sand_king/m_icon.jpg">
        </a>
        <a href="@Url.Action("slardar", "Home/Hero")">
            <img onmouseover="func1('slardar')" onmouseleave="func2('slardar')" class="heroImg heroIcons" id="slardar" src="https://dota2.ru/img/heroes/slardar/m_icon.jpg">
        </a>
        <a href="@Url.Action("spirit_breaker", "Home/Hero")">
            <img onmouseover="func1('spirit_breaker')" onmouseleave="func2('spirit_breaker')" class="heroImg heroIcons" id="spirit_breaker" src="https://dota2.ru/img/heroes/spirit_breaker/m_icon.jpg">
        </a>
        <a href="@Url.Action("sven", "Home/Hero")">
            <img onmouseover="func1('sven')" onmouseleave="func2('sven')" class="heroImg heroIcons" id="sven" src="https://dota2.ru/img/heroes/sven/m_icon.jpg">
        </a>
        <a href="@Url.Action("tidehunter", "Home/Hero")">
            <img onmouseover="func1('tidehunter')" onmouseleave="func2('tidehunter')" class="heroImg heroIcons" id="tidehunter" src="https://dota2.ru/img/heroes/tidehunter/m_icon.jpg">
        </a>
        <a href="@Url.Action("timbersaw", "Home/Hero")">
            <img onmouseover="func1('timbersaw')" onmouseleave="func2('timbersaw')" class="heroImg heroIcons" id="timbersaw" src="https://dota2.ru/img/heroes/timbersaw/m_icon.jpg">
        </a>
        <a href="@Url.Action("tiny", "Home/Hero")">
            <img onmouseover="func1('tiny')" onmouseleave="func2('tiny')" class="heroImg heroIcons" id="tiny" src="https://dota2.ru/img/heroes/tiny/m_icon.jpg">
        </a>
        <a href="@Url.Action("treant_protector", "Home/Hero")">
            <img onmouseover="func1('treant_protector')" onmouseleave="func2('treant_protector')" class="heroImg heroIcons" id="treant_protector" src="https://dota2.ru/img/heroes/treant_protector/m_icon.jpg">
        </a>
        <a href="@Url.Action("tusk", "Home/Hero")">
            <img onmouseover="func1('tusk')" onmouseleave="func2('tusk')" class="heroImg heroIcons" id="tusk" src="https://dota2.ru/img/heroes/tusk/m_icon.jpg">
        </a>

        <a href="@Url.Action("undying", "Home/Hero")">
            <img onmouseover="func1('undying')" onmouseleave="func2('undying')" class="heroImg heroIcons" id="undying" src="https://dota2.ru/img/heroes/undying/m_icon.jpg">
        </a>
        <a href="@Url.Action("wraith_king", "Home/Hero")">
            <img onmouseover="func1('wraith_king')" onmouseleave="func2('wraith_king')" class="heroImg heroIcons" id="wraith_king" src="https://dota2.ru/img/heroes/wraith_king/m_icon.jpg">
        </a>
    </div>
    <div class="power">
        <img src="https://dota2.ru/img/icon-agi.png">
        <span>Ловкость</span>
    </div>
    <div class="agilityHeroes power">
        <a href="@Url.Action("anti_mage", "Home/Hero")">
            <img onmouseover="func1('anti_mage')" onmouseleave="func2('anti_mage')" id="anti_mage" class="heroAgility" src="https://dota2.ru/img/heroes/anti_mage/m_icon.jpg">
        </a>
        <a href="@Url.Action("arc_warden", "Home/Hero")">
            <img onmouseover="func1('arc_warden')" onmouseleave="func2('arc_warden')" id="arc_warden" class="heroAgility" src="https://dota2.ru/img/heroes/arc_warden/m_icon.jpg">
        </a>
        <a href="@Url.Action("bloodseeker", "Home/Hero")">
            <img onmouseover="func1('bloodseeker')" onmouseleave="func2('bloodseeker')" id="bloodseeker" class="heroAgility" src="https://dota2.ru/img/heroes/bloodseeker/m_icon.jpg">
        </a>
        <a href="@Url.Action("bounty_hunter", "Home/Hero")">
            <img onmouseover="func1('bounty_hunter')" onmouseleave="func2('bounty_hunter')" id="bounty_hunter" class="heroAgility" src="https://dota2.ru/img/heroes/bounty_hunter/m_icon.jpg">
        </a>
        <a href="@Url.Action("broodmother", "Home/Hero")">
            <img onmouseover="func1('broodmother')" onmouseleave="func2('broodmother')" id="broodmother" class="heroAgility" src="https://dota2.ru/img/heroes/broodmother/m_icon.jpg">
        </a>
        <a href="@Url.Action("clinkz", "Home/Hero")">
            <img onmouseover="func1('clinkz')" onmouseleave="func2('clinkz')" id="clinkz" class="heroAgility" src="https://dota2.ru/img/heroes/clinkz/m_icon.jpg">
        </a>
        <a href="@Url.Action("drow_ranger", "Home/Hero")">
            <img onmouseover="func1('drow_ranger')" onmouseleave="func2('drow_ranger')" id="drow_ranger" class="heroAgility" src="https://dota2.ru/img/heroes/drow_ranger/m_icon.jpg">
        </a>
        <a href="@Url.Action("ember_spirit", "Home/Hero")">
            <img onmouseover="func1('ember_spirit')" onmouseleave="func2('ember_spirit')" id="ember_spirit" class="heroAgility" src="https://dota2.ru/img/heroes/ember_spirit/m_icon.jpg">
        </a>
        <a href="@Url.Action("faceless_void", "Home/Hero")">
            <img onmouseover="func1('faceless_void')" onmouseleave="func2('faceless_void')" id="faceless_void" class="heroAgility" src="https://dota2.ru/img/heroes/faceless_void/m_icon.jpg">
        </a>
        <a href="@Url.Action("gyrocopter", "Home/Hero")">
            <img onmouseover="func1('gyrocopter')" onmouseleave="func2('gyrocopter')" id="gyrocopter" class="heroAgility" src="https://dota2.ru/img/heroes/gyrocopter/m_icon.jpg">
        </a>
        <a href="@Url.Action("juggernaut", "Home/Hero")">
            <img onmouseover="func1('juggernaut')" onmouseleave="func2('juggernaut')" id="juggernaut" class="heroAgility" src="https://dota2.ru/img/heroes/juggernaut/m_icon.jpg">
        </a>
        <a href="@Url.Action("lone_druid", "Home/Hero")">
            <img onmouseover="func1('lone_druid')" onmouseleave="func2('lone_druid')" id="lone_druid" class="heroAgility" src="https://dota2.ru/img/heroes/lone_druid/m_icon.jpg">
        </a>
        <a href="@Url.Action("luna", "Home/Hero")">
            <img onmouseover="func1('luna')" onmouseleave="func2('luna')" id="luna" class="heroAgility" src="https://dota2.ru/img/heroes/luna/m_icon.jpg">
        </a>
        <a href="@Url.Action("medusa", "Home/Hero")">
            <img onmouseover="func1('medusa')" onmouseleave="func2('medusa')" id="medusa" class="heroAgility" src="https://dota2.ru/img/heroes/medusa/m_icon.jpg">
        </a>
        <a href="@Url.Action("meepo", "Home/Hero")">
            <img onmouseover="func1('meepo')" onmouseleave="func2('meepo')" id="meepo" class="heroAgility" src="https://dota2.ru/img/heroes/meepo/m_icon.jpg">
        </a>
        <a href="@Url.Action("mirana", "Home/Hero")">
            <img onmouseover="func1('mirana')" onmouseleave="func2('mirana')" id="mirana" class="heroAgility" src="https://dota2.ru/img/heroes/mirana/m_icon.jpg">
        </a>
        <a href="@Url.Action("morphling", "Home/Hero")">
            <img onmouseover="func1('morphling')" onmouseleave="func2('morphling')" id="morphling" class="heroAgility" src="https://dota2.ru/img/heroes/morphling/m_icon.jpg">
        </a>
        <a href="@Url.Action("naga_siren", "Home/Hero")">
            <img onmouseover="func1('naga_siren')" onmouseleave="func2('naga_siren')" id="naga_siren" class="heroAgility" src="https://dota2.ru/img/heroes/naga_siren/m_icon.jpg">
        </a>
        <a href="@Url.Action("nyx_assassin", "Home/Hero")">
            <img onmouseover="func1('nyx_assassin')" onmouseleave="func2('nyx_assassin')" id="nyx_assassin" class="heroAgility" src="https://dota2.ru/img/heroes/nyx_assassin/m_icon.jpg">
        </a>
        <a href="@Url.Action("phantom_assassin", "Home/Hero")">
            <img onmouseover="func1('phantom_assassin')" onmouseleave="func2('phantom_assassin')" id="phantom_assassin" class="heroAgility" src="https://dota2.ru/img/heroes/phantom_assassin/m_icon.jpg">
        </a>
        <a href="@Url.Action("phantom_lancer", "Home/Hero")">
            <img onmouseover="func1('phantom_lancer')" onmouseleave="func2('phantom_lancer')" id="phantom_lancer" class="heroAgility" src="https://dota2.ru/img/heroes/phantom_lancer/m_icon.jpg">
        </a>
        <a href="@Url.Action("razor", "Home/Hero")">
            <img onmouseover="func1('razor')" onmouseleave="func2('razor')" id="razor" class="heroAgility" src="https://dota2.ru/img/heroes/razor/m_icon.jpg">
        </a>
        <a href="@Url.Action("riki", "Home/Hero")">
            <img onmouseover="func1('riki')" onmouseleave="func2('riki')" id="riki" class="heroAgility" src="https://dota2.ru/img/heroes/riki/m_icon.jpg">
        </a>
        <a href="@Url.Action("shadow_fiend", "Home/Hero")">
            <img onmouseover="func1('shadow_fiend')" onmouseleave="func2('shadow_fiend')" id="shadow_fiend" class="heroAgility" src="https://dota2.ru/img/heroes/shadow_fiend/m_icon.jpg">
        </a>
        <a href="@Url.Action("slark", "Home/Hero")">
            <img onmouseover="func1('slark')" onmouseleave="func2('slark')" id="slark" class="heroAgility" src="https://dota2.ru/img/heroes/slark/m_icon.jpg">
        </a>
        <a href="@Url.Action("sniper", "Home/Hero")">
            <img onmouseover="func1('sniper')" onmouseleave="func2('sniper')" id="sniper" class="heroAgility" src="https://dota2.ru/img/heroes/sniper/m_icon.jpg">
        </a>
        <a href="@Url.Action("spectre", "Home/Hero")">
            <img onmouseover="func1('spectre')" onmouseleave="func2('spectre')" id="spectre" class="heroAgility" src="https://dota2.ru/img/heroes/spectre/m_icon.jpg">
        </a>
        <a href="@Url.Action("templar_assassin", "Home/Hero")">
            <img onmouseover="func1('templar_assassin')" onmouseleave="func2('templar_assassin')" id="templar_assassin" class="heroAgility" src="https://dota2.ru/img/heroes/templar_assassin/m_icon.jpg">
        </a>
        <a href="@Url.Action("terrorblade", "Home/Hero")">
            <img onmouseover="func1('terrorblade')" onmouseleave="func2('terrorblade')" id="terrorblade" class="heroAgility" src="https://dota2.ru/img/heroes/terrorblade/m_icon.jpg">
        </a>
        <a href="@Url.Action("troll_warlord", "Home/Hero")">
            <img onmouseover="func1('troll_warlord')" onmouseleave="func2('troll_warlord')" id="troll_warlord" class="heroAgility" src="https://dota2.ru/img/heroes/troll_warlord/m_icon.jpg">
        </a>
        <a href="@Url.Action("ursa", "Home/Hero")">
            <img onmouseover="func1('ursa')" onmouseleave="func2('ursa')" id="ursa" class="heroAgility" src="https://dota2.ru/img/heroes/ursa/m_icon.jpg">
        </a>
        <a href="@Url.Action("vengeful_spirit", "Home/Hero")">
            <img onmouseover="func1('vengeful_spirit')" onmouseleave="func2('vengeful_spirit')" id="vengeful_spirit" class="heroAgility" src="https://dota2.ru/img/heroes/vengeful_spirit/m_icon.jpg">
        </a>
        <a href="@Url.Action("venomancer", "Home/Hero")">
            <img onmouseover="func1('venomancer')" onmouseleave="func2('venomancer')" id="venomancer" class="heroAgility" src="https://dota2.ru/img/heroes/venomancer/m_icon.jpg">
        </a>
        <a href="@Url.Action("viper", "Home/Hero")">
            <img onmouseover="func1('viper')" onmouseleave="func2('viper')" id="viper" class="heroAgility" src="https://dota2.ru/img/heroes/viper/m_icon.jpg">
        </a>
        <a href="@Url.Action("weaver", "Home/Hero")">
            <img onmouseover="func1('weaver')" onmouseleave="func2('weaver')" id="weaver" class="heroAgility" src="https://dota2.ru/img/heroes/weaver/m_icon.jpg">
        </a>
    </div>
    <div class="power">
        <img src="https://dota2.ru/img/icon-int.png">
        <span>Интеллект</span>
    </div>
    <div class="intelligenceHeroes power">
        <a href="@Url.Action("ancient_apparition", "Home/Hero")">
            <img onmouseover="func1('ancient_apparition')" onmouseleave="func2('ancient_apparition')" id="ancient_apparition" class="heroIntelligence" src="https://dota2.ru/img/heroes/ancient_apparition/m_icon.jpg">
        </a>
        <a href="@Url.Action("bane", "Home/Hero")">
            <img onmouseover="func1('bane')" onmouseleave="func2('bane')" id="bane" class="heroIntelligence" src="https://dota2.ru/img/heroes/bane/m_icon.jpg">
        </a>
        <a href="@Url.Action("batrider", "Home/Hero")">
            <img onmouseover="func1('batrider')" onmouseleave="func2('batrider')" id="batrider" class="heroIntelligence" src="https://dota2.ru/img/heroes/batrider/m_icon.jpg">
        </a>
        <a href="@Url.Action("chen", "Home/Hero")">
            <img onmouseover="func1('chen')" onmouseleave="func2('chen')" id="chen" class="heroIntelligence" src="https://dota2.ru/img/heroes/chen/m_icon.jpg">
        </a>
        <a href="@Url.Action("crystal_maiden", "Home/Hero")">
            <img onmouseover="func1('crystal_maiden')" onmouseleave="func2('crystal_maiden')" id="crystal_maiden" class="heroIntelligence" src="https://dota2.ru/img/heroes/crystal_maiden/m_icon.jpg">
        </a>
        <a href="@Url.Action("dark_seer", "Home/Hero")">
            <img onmouseover="func1('dark_seer')" onmouseleave="func2('dark_seer')" id="dark_seer" class="heroIntelligence" src="https://dota2.ru/img/heroes/dark_seer/m_icon.jpg">
        </a>
        <a href="@Url.Action("dazzle", "Home/Hero")">
            <img onmouseover="func1('dazzle')" onmouseleave="func2('dazzle')" id="dazzle" class="heroIntelligence" src="https://dota2.ru/img/heroes/dazzle/m_icon.jpg">
        </a>
        <a href="@Url.Action("death_prophet", "Home/Hero")">
            <img onmouseover="func1('death_prophet')" onmouseleave="func2('death_prophet')" id="death_prophet" class="heroIntelligence" src="https://dota2.ru/img/heroes/death_prophet/m_icon.jpg">
        </a>
        <a href="@Url.Action("disruptor", "Home/Hero")">
            <img onmouseover="func1('disruptor')" onmouseleave="func2('disruptor')" id="disruptor" class="heroIntelligence" src="https://dota2.ru/img/heroes/disruptor/m_icon.jpg">
        </a>
        <a href="@Url.Action("enchantress", "Home/Hero")">
            <img onmouseover="func1('enchantress')" onmouseleave="func2('enchantress')" id="enchantress" class="heroIntelligence" src="https://dota2.ru/img/heroes/enchantress/m_icon.jpg">
        </a>
        <a href="@Url.Action("enigma", "Home/Hero")">
            <img onmouseover="func1('enigma')" onmouseleave="func2('enigma')" id="enigma" class="heroIntelligence" src="https://dota2.ru/img/heroes/enigma/m_icon.jpg">
        </a>
        <a href="@Url.Action("invoker", "Home/Hero")">
            <img onmouseover="func1('invoker')" onmouseleave="func2('invoker')" id="invoker" class="heroIntelligence" src="https://dota2.ru/img/heroes/invoker/m_icon.jpg">
        </a>
        <a href="@Url.Action("jakiro", "Home/Hero")">
            <img onmouseover="func1('jakiro')" onmouseleave="func2('jakiro')" id="jakiro" class="heroIntelligence" src="https://dota2.ru/img/heroes/jakiro/m_icon.jpg">
        </a>
        <a href="@Url.Action("keeper_of_the_light", "Home/Hero")">
            <img onmouseover="func1('keeper_of_the_light')" onmouseleave="func2('keeper_of_the_light')" id="keeper_of_the_light" class="heroIntelligence" src="https://dota2.ru/img/heroes/keeper_of_the_light/m_icon.jpg">
        </a>
        <a href="@Url.Action("leshrac", "Home/Hero")">
            <img onmouseover="func1('leshrac')" onmouseleave="func2('leshrac')" id="leshrac" class="heroIntelligence" src="https://dota2.ru/img/heroes/leshrac/m_icon.jpg">
        </a>
        <a href="@Url.Action("lich", "Home/Hero")">
            <img onmouseover="func1('lich')" onmouseleave="func2('lich')" id="lich" class="heroIntelligence" src="https://dota2.ru/img/heroes/lich/m_icon.jpg">
        </a>
        <a href="@Url.Action("lina", "Home/Hero")">
            <img onmouseover="func1('lina')" onmouseleave="func2('lina')" id="lina" class="heroIntelligence" src="https://dota2.ru/img/heroes/lina/m_icon.jpg">
        </a>
        <a href="@Url.Action("lion", "Home/Hero")">
            <img onmouseover="func1('lion')" onmouseleave="func2('lion')" id="lion" class="heroIntelligence" src="https://dota2.ru/img/heroes/lion/m_icon.jpg">
        </a>
        <a href="@Url.Action("natures_prophet", "Home/Hero")">
            <img onmouseover="func1('natures_prophet')" onmouseleave="func2('natures_prophet')" id="natures_prophet" class="heroIntelligence" src="https://dota2.ru/img/heroes/natures_prophet/m_icon.jpg">
        </a>
        <a href="@Url.Action("necrophos", "Home/Hero")">
            <img onmouseover="func1('necrophos')" onmouseleave="func2('necrophos')" id="necrophos" class="heroIntelligence" src="https://dota2.ru/img/heroes/necrophos/m_icon.jpg">
        </a>
        <a href="@Url.Action("ogre_magi", "Home/Hero")">
            <img onmouseover="func1('ogre_magi')" onmouseleave="func2('ogre_magi')" id="ogre_magi" class="heroIntelligence" src="https://dota2.ru/img/heroes/ogre_magi/m_icon.jpg">
        </a>
        <a href="@Url.Action("oracle", "Home/Hero")">
            <img onmouseover="func1('oracle')" onmouseleave="func2('oracle')" id="oracle" class="heroIntelligence" src="https://dota2.ru/img/heroes/oracle/m_icon.jpg">
        </a>
        <a href="@Url.Action("outworld_devourer", "Home/Hero")">
            <img onmouseover="func1('outworld_devourer')" onmouseleave="func2('outworld_devourer')" id="outworld_devourer" class="heroIntelligence" src="https://dota2.ru/img/heroes/outworld_devourer/m_icon.jpg">
        </a>
        <a href="@Url.Action("puck", "Home/Hero")">
            <img onmouseover="func1('puck')" onmouseleave="func2('puck')" id="puck" class="heroIntelligence" src="https://dota2.ru/img/heroes/puck/m_icon.jpg">
        </a>
        <a href="@Url.Action("pugna", "Home/Hero")">
            <img onmouseover="func1('pugna')" onmouseleave="func2('pugna')" id="pugna" class="heroIntelligence" src="https://dota2.ru/img/heroes/pugna/m_icon.jpg">
        </a>
        <a href="@Url.Action("queen_of_pain", "Home/Hero")">
            <img onmouseover="func1('queen_of_pain')" onmouseleave="func2('queen_of_pain')" id="queen_of_pain" class="heroIntelligence" src="https://dota2.ru/img/heroes/queen_of_pain/m_icon.jpg">
        </a>
        <a href="@Url.Action("rubick", "Home/Hero")">
            <img onmouseover="func1('rubick')" onmouseleave="func2('rubick')" id="rubick" class="heroIntelligence" src="https://dota2.ru/img/heroes/rubick/m_icon.jpg">
        </a>
        <a href="@Url.Action("shadow_demon", "Home/Hero")">
            <img onmouseover="func1('shadow_demon')" onmouseleave="func2('shadow_demon')" id="shadow_demon" class="heroIntelligence" src="https://dota2.ru/img/heroes/shadow_demon/m_icon.jpg">
        </a>
        <a href="@Url.Action("shadow_shaman", "Home/Hero")">
            <img onmouseover="func1('shadow_shaman')" onmouseleave="func2('shadow_shaman')" id="shadow_shaman" class="heroIntelligence" src="https://dota2.ru/img/heroes/shadow_shaman/m_icon.jpg">
        </a>
        <a href="@Url.Action("silencer", "Home/Hero")">
            <img onmouseover="func1('silencer')" onmouseleave="func2('silencer')" id="silencer" class="heroIntelligence" src="https://dota2.ru/img/heroes/silencer/m_icon.jpg">
        </a>
        <a href="@Url.Action("skywrath_mage", "Home/Hero")">
            <img onmouseover="func1('skywrath_mage')" onmouseleave="func2('skywrath_mage')" id="skywrath_mage" class="heroIntelligence" src="https://dota2.ru/img/heroes/skywrath_mage/m_icon.jpg">
        </a>
        <a href="@Url.Action("storm_spirit", "Home/Hero")">
            <img onmouseover="func1('storm_spirit')" onmouseleave="func2('storm_spirit')" id="storm_spirit" class="heroIntelligence" src="https://dota2.ru/img/heroes/storm_spirit/m_icon.jpg">
        </a>
        <a href="@Url.Action("techies", "Home/Hero")">
            <img onmouseover="func1('techies')" onmouseleave="func2('techies')" id="techies" class="heroIntelligence" src="https://dota2.ru/img/heroes/techies/m_icon.jpg">
        </a>
        <a href="@Url.Action("tinker", "Home/Hero")">
            <img onmouseover="func1('tinker')" onmouseleave="func2('tinker')" id="tinker" class="heroIntelligence" src="https://dota2.ru/img/heroes/tinker/m_icon.jpg">
        </a>
        <a href="@Url.Action("visage", "Home/Hero")">
            <img onmouseover="func1('visage')" onmouseleave="func2('visage')" id="visage" class="heroIntelligence" src="https://dota2.ru/img/heroes/visage/m_icon.jpg">
        </a>
        <a href="@Url.Action("warlock", "Home/Hero")">
            <img onmouseover="func1('warlock')" onmouseleave="func2('warlock')" id="warlock" class="heroIntelligence" src="https://dota2.ru/img/heroes/warlock/m_icon.jpg">
        </a>
        <a href="@Url.Action("windranger", "Home/Hero")">
            <img onmouseover="func1('windranger')" onmouseleave="func2('windranger')" id="windranger" class="heroIntelligence" src="https://dota2.ru/img/heroes/windranger/m_icon.jpg">
        </a>
        <a href="@Url.Action("winter_wyvern", "Home/Hero")">
            <img onmouseover="func1('winter_wyvern')" onmouseleave="func2('winter_wyvern')" id="winter_wyvern" class="heroIntelligence" src="https://dota2.ru/img/heroes/winter_wyvern/m_icon.jpg">
        </a>
        <a href="@Url.Action("witch_doctor", "Home/Hero")">
            <img onmouseover="func1('witch_doctor')" onmouseleave="func2('witch_doctor')" id="witch_doctor" class="heroIntelligence" src="https://dota2.ru/img/heroes/witch_doctor/m_icon.jpg">
        </a>
        <a href="@Url.Action("zeus", "Home/Hero")">
            <img onmouseover="func1('zeus')" onmouseleave="func2('zeus')" id="zeus" class="heroIntelligence" src="https://dota2.ru/img/heroes/zeus/m_icon.jpg">
        </a>
    </div>
</div>
